.orders {
  padding: 0;
  max-width: 900px;
  margin: 0px auto 50px auto;
}

.order-card {
  margin: 0 16px 24px;
  background: white;
  box-shadow: rgba(107, 139, 204, 0.2) 0px 2px 8px 0px;
  border-radius: 15px;
}

.order-header {
  background: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  padding: 1rem 1.2rem;
  border-bottom: 1px solid #eee;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.order-card__column span:first-child {
  font-weight: bold;
}

.order-card__column {
  display: flex;
  gap: 6px;
}

.order-card__products {
  border-top: none;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 40px 25px;
  display: grid;
  row-gap: 60px;
}

.order-product-card {
  display: grid;
  grid-template-columns: 120px 1fr 1fr;
}

.order-product-card img {
  max-width: 110px;
  height: auto;
}

.product-card__info {
  display: grid;
  row-gap: 5px;
}

.product-title {
  font-weight: bold;
  font-size: 1.1rem;
}

/* buttons */
.product-reorder-button img {
  width: 20px;
  height: 20px;
  transition: 1s;
}

.product-reorder-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 40px;
  border: none;
  background-color: #d8a159;
  border-radius: 12px;
  gap: 12px;
  font-family: "vazir";
  font-size: 1rem;
  font-weight: bold;
}

.product-reorder-button:hover {
  cursor: pointer;
}

.product-reorder-button:hover img {
  transform: rotateZ(-150deg);
}

.track-order-button-wrapper {
  display: flex;
  justify-content: end;
  padding-bottom: 1rem;
  padding-inline: 1rem;
}

.track-order-button {
  border-radius: 10px;
  background-color: #d8a159;
  border: 2px solid #131921;
  font-family: "vazir";
  padding: 0 50px;
  transition: 0.3s;
  height: 40px;
  font-size: 1rem;
  cursor: pointer;
}

/* =============== SCREEN CONTROL =============== */
@media only screen and (max-width: 600px) {
  .order-product-card {
    grid-template-columns: 120px 1fr;
    row-gap: 12px;
  }

  .track-order-button {
    width: 150px;
    height: 40px;
    padding: 0;
    border-radius: 12px;
  }

  .order-card__column {
    flex-direction: row;
    gap: 8px;
  }
}
