/* ====================== HEADER ====================== */
.cart-header {
  padding-left: 10px;
  margin-top: 30px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.cart-header img {
  width: 30px;
  height: 30px;
}

.cart-header__title {
  font-family: "lalezar";
  font-size: 1.6rem;

  color: black;
  transform: translateY(2px);
}

/* ====================== BODY ====================== */
.cart-body {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.cart-body__content {
  padding: 0 16px;
  display: grid;
  gap: 16px;
  grid-template-columns: 2fr 1fr;
}

/* order item */
.order-item {
  margin-bottom: 16px;
  background-color: white;
  box-shadow: rgba(107, 139, 204, 0.2) 0px 2px 8px 0px;
  position: relative;
  border-radius: 15px;
  padding: 0 16px 16px 16px;
  display: flex;
  flex-direction: column;
}

.order-item__date {
  font-size: 1.2rem;
  font-weight: bold;
  color: black;
}

.order-item-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  justify-content: start;
  gap: 40px;
}

.order-item__product {
  display: flex;
  gap: 12px;
}

.product-image {
  height: 110px;
}

.product-info {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.product-name {
  font-weight: bold;
  color: #222836;
}

.product-price {
  font-weight: bold;
  color: #138b4f;
}

.remove-product-button img {
  width: 26px;
  height: 26px;
}

.remove-product-button {
  border: none;
  position: absolute;
  top: 12px;
  left: 12px;
  background-color: white;
  border-bottom: 2px solid #d8596a;
  color: black;
  font-family: "vazir";
  font-weight: bold;
  font-size: 1rem;
  border-radius: 12px;
  padding: 0 1.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  width: 40px;
  transition: 0.3s;
}

.remove-product-button:hover {
  background-color: #f9e4e6;
  cursor: pointer;
}

.delivery-title {
  font-weight: bold;
  color: #222836;
}

.delivery-option {
  display: flex;
  gap: 8px;
  cursor: pointer;
  margin-block: 14px;
}

.delivery-option input[type="radio"] {
  cursor: pointer;
  width: 20px;
}

.delivery-option-content {
  display: flex;
  flex-direction: column;
}

.delivery-option__date {
  font-weight: bold;
  color: #47475a;
}

.delivery-option__price {
  color: gray;
}

/* checkout */
.cart-body__checkout {
  height: fit-content;
  background-color: white;
  box-shadow: rgba(107, 139, 204, 0.2) 0px 2px 8px 0px;
  padding: 16px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cart-body__checkout hr {
  width: 100%;
  border-top: 1px solid rgb(238, 238, 238);
  margin-block: 12px;
}

.checkout-title {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 16px;
  margin-right: 0.4rem;
  margin-top: 8px;
}

.checkout-row {
  display: flex;
  justify-content: space-between;
  padding-inline: 1rem;
}

.checkout-row.checkout-total-wrapper span {
  color: dodgerblue;
  font-weight: bold;
  font-size: 1.1rem;
  padding-inline: 0.6rem;
}

.cart-body__checkout button {
  margin-top: 18px;
  margin-bottom: 6px;
}

/* SCREEN CONTROL */

@media only screen and (max-width: 800px) {
  .cart-header__title {
    margin-right: 0;
  }
}

@media only screen and (max-width: 1000px) {
  .remove-product-button {
    bottom: 12px;
    top: auto;
  }

  .order-item__delivery {
    border-top: 1px solid silver;
    padding-top: 18px;
  }

  .cart-body {
    max-width: 500px;
  }

  .order-item-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    justify-content: start;
    gap: 10px;
  }

  .cart-body__content {
    padding: 0 16px;
    grid-template-columns: 1fr;
  }

  .cart-body__checkout {
    order: -1;
  }
}
