main {
  width: 100%;
  max-width: 900px;
  margin: 0 auto 42px;
}

.package-details {
  background-color: white;
  box-shadow: rgba(107, 139, 204, 0.2) 0px 2px 8px 0px;
  border-radius: 15px;
  padding: 20px 24px;
  margin: 0 16px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.package-date {
  font-size: 1.2rem;
  font-weight: bold;
}

.package-product-image {
  border: 1px solid rgb(227, 227, 235);
  padding: 8px;
  border-radius: 12px;
  width: 200px;
}

.tracking-labels-container {
  margin-top: 52px;
  display: flex;
  justify-content: space-between;
}

.tracking-label {
  font-size: 1.2rem;
  font-family: "lalezar";
}

.active-label {
  color: seagreen;
}

.tracking-bar-container {
  background-color: #eee;
  border-radius: 8px;
  height: 24px;
}

.tracking-bar-progress {
  position: relative;
  height: 100%;
  width: 50px;
  border-radius: 8px;
  background-color: mediumseagreen;
}

.progress-shipping {
  width: 50%;
}

.progress-delivered {
  width: 100%;
}

.package-product-wrapper {
  display: flex;
  justify-content: start;
  gap: 2rem;
}

@media only screen and (max-width: 550px) {
  .package-product-image {
    margin: 0 auto;
    margin-top: 30px;
  }

  .package-product-wrapper {
    flex-direction: column;
    justify-content: start;
  }
}

@media only screen and (max-width: 390px) {
  .tracking-labels-container {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
}
