.amazon-main {
  padding: 16px;
}

/* PRODUCT GRID */
.amazon-main__products-grid {
  display: grid;
  gap: 30px;
  justify-content: center;
  margin: 28px auto 0 auto;
  max-width: 1200px;
}

/* PRODUCT CARD STYLE */
.product-card {
  border: 1px solid rgb(220, 220, 228);
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.product-card__image {
  border-bottom: 1px solid rgb(220, 220, 228);
  padding: 0 16px 16px 16px;
}

.product-card__title {
  height: 3.4rem;
}

.product-card__rating {
  display: flex;
  gap: 8px;
  justify-content: start;
  align-items: center;
}

.rating__image {
  height: 24px;
}

.rating__vote-count {
  color: rgb(31, 131, 197);
  font-size: 1.1rem;
  transform: translateY(3px);
}

.product-card__price {
  font-weight: bold;
}

.product-card__quantity {
  display: flex;
  margin-bottom: 4px;
}

.product-card__quantity span {
  margin-top: 3px;
  margin-left: 8px;
}
.product-card__quantity select {
  outline: 1px solid rgb(220, 220, 228);
  border: none;
  border-left: 5px solid transparent;
  border-radius: 10px;
  padding: 1px 8px 0 3px;
  font-family: "victor mono";
  font-weight: bold;
  width: 60px;
  height: 30px;
}

.product-card__added-to-cart-message.visible {
  opacity: 1;
  transform: scale(1);
}

.product-card__added-to-cart-message {
  display: flex;
  gap: 6px;
  margin-top: 16px;
  margin-bottom: 6px;
  margin-right: 2px;
  transition: 0.3s;
  opacity: 0;
  transform: scale(0);
  transform-origin: right;
}

.product-card__added-to-cart-message img {
  width: 24px;
  height: 24px;
}

.product-card__added-to-cart-message span {
  padding-top: 2px;
  color: #067d62;
}

.product-card__add-to-cart-button {
  border: none;
  background-color: #d8a159;
  color: black;
  font-family: "vazir";
  font-size: 1rem;
  border-radius: 12px;
  height: 45px;
  transition: 0.3s;
}
.product-card__add-to-cart-button:hover {
  cursor: pointer;
}

/* ======== Screen size control ======== */
@media only screen and (max-width: 541px) {
  .amazon-main {
    padding: 0;
  }

  .product-card__image {
    border-bottom: none;
    padding: 0 16px 4px 16px;
  }

  /* GRID */
  .amazon-main__products-grid {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 0;
  }

  /* PRODUCT */
  .product-card {
    border: 1px solid rgb(220, 220, 228);
    border-radius: 0px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: -1px;
  }
  .product-card:nth-child(odd) {
    transform: translateX(-1px);
  }
}

@media only screen and (min-width: 538px) {
  .amazon-main__products-grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: -1px;
  }
}

@media only screen and (min-width: 600px) {
  .amazon-main__products-grid {
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: -1px;
  }
}
