@import url("sections/main-header.css");
@import url("sections/main-footer.css");
@import url("sections/main-body.css");
@import url("sections/amazon-cart.css");
@import url("sections/amazon-orders.css");
@import url("sections/amazon-tracking.css");

@font-face {
  font-family: "vazir";
  src: url("../fonts/vazir.woff2");
}

@font-face {
  font-family: "lalezar";
  src: url("../fonts/lalezar.woff2");
}

ul {
  list-style: none;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: "vazir";
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}
